<aside>
    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/add-waiter">Add Waiters</a></li>
            <li><a href="/view-waiters">View Waiters</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>
</aside>